@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('bootstrap/dist/css/bootstrap.min.css');
html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: "NanumSquareRound";
  font-size: 16px;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  width: 100%;
  height: 90%;
}
.wrap >.container {
  background-color: darkseagreen;
  position: relative;
  width: 720px;
  height: calC(100% - 30px);
  margin: 0 auto;
}
.wrap >.container >.header{ 
  height: 250px;
  display: flex;
  align-items: center;  
}
.wrap >.container >.content{ }
.wrap > .footer{
  margin: 0 auto;
  height: 30px;
  width: 720px;
  text-align: center;
  line-height: 30px;
  background-color: grey;
}
.wrap >.header >.logo {
    display: block;
    margin: 0 auto;
}

.title >.h1 {
  font-family: 'NanumSquareRound',sans-serif;
  text-align: center;
  white-space: nowrap;
  margin: 35px 0;
}


